*{

    box-sizing: border-box;
    margin: 0px;

}

p{
    font-size: large;
}



.image-intro img{
    height: 100%;
    max-width: 100%;
    background-color: rgba(251, 186, 0, 0.2);
}
/***************************************************************************/
/********************************Histoire **********************************/
.histoire{
    max-width: 1350px;
    margin: auto;

}

.histoire-texte{
    padding: 1em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.histoire img{
    width: 100px;
    height: auto;
    border-radius: 30px;
    margin:15px 10px 10px 10px;

}

.histoire-personnage{
    display: flex;
    flex-direction:row;
    padding: 1em;
    align-items: center;

}



/***************************************************************************/
/***************************Frise chronologique*****************************/

.frise-chrono{

    max-width: 1350px;
    margin:auto;

}

.frise-chrono-contenu{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius:6px;

}

.frise-chrono-contenu .frise-chrono{
    padding:20px 30px;
    position: relative;
    border-radius:6px;
    font-size: 15px;
}

.frise-chrono-text{
    padding: 30px 50px;
    background: #FFDACC;
    position: relative;
    border-radius:6px;
    font-size: 15px;
}

.frise-chrono-contenu-droite{
    left: 50%;
}

.frise-chrono-contenu-gauche{
    left:0;
}

.frise-chrono img{
    position: absolute;
    width:40px;

    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.frise-chrono-contenu-droite img{
    left:-20px;
}

.frise-chrono::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #000000;
    top: 50px;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
}

.frise-chrono-gauche-fleche{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FFDACC;
    right: -14px;
}

.frise-chrono-droite-fleche{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FFDACC;
    left: -14px;
}

.date-histoire{
    position: relative;
    max-width: 1350px;
    margin:auto;
}

.date-histoire h1{
    margin:1em;
}



.espace{
    margin: 100px;
}




