#map { height: 350px;
width: 350px;
margin: 20px;
}

.popup{
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.label{
    color: rgb(255, 227, 13);
}

.titre{
    color: green;
}

.grille{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
}

.cacher{   
    display: none;
}
.labelPresident{
    display: none;
}

.texte{
    padding: auto 10px;
    max-width: 900px;
    text-align: left;
    background-color: #fff;
}
.texte h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texte p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.banniere img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 400px; /* Ajustable selon besoin */
}
