* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 500;
}

nav {
    background-color: #3CAA64;
}

#espace-membre {
    background-color: #FAB900;
}

#faire-un-don {
    background-color: #D82727;
}


h1 {
    margin-top: 20px;
    color: #3CAA64;
    text-decoration: none;
}

.baseline{
}

/***************************************************************************/
/*******************************PRESENTATION********************************/
.presentation{
    padding:5em 0;
    margin: 0;
    background-image: url("../image/accueil/trois-bulles.svg") ;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: right 5% center;
}
.presentation_container{
    max-width: 1280px;
    width: 80%;
    margin: auto;


}

.presentation_container p {
    padding-bottom: 1em;
    font-size: 18px;
}






/***************************************************************************/
/*******************************CHIFFRE-CLE*********************************/

.chiffe-cle h1{
    padding-top: 1%;
    margin: auto;
    max-width: 1350px;
}

.bande{
    background-color: #FFDACC;

}

.bande-box{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding: 1%;
}


.bande-contenu{

    margin: 0 15px;
    padding: 20px 2%;
    align-content: flex-start;

}

.bande h3{
    font-size: xx-large;
}





/***************************************************************************/
/*******************************PARTENAIRE**********************************/

.partenaire{
    max-width: 1350px;
    display: block;
    margin: auto auto 20px;
}

.partenaire-contenu {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    column-gap: 110px;
    margin: auto;
}

.partenaire-box{
    padding: 30px;
    margin: 20px;
}

.partenaire img{

    width: 130px;
    height: 130px;

}



.partenaire-bouton{
    display: flex;
    justify-content: center;

}

.partenaire-bouton{
    display: flex;
    background-color: #f51818;
    border-radius: 30px;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;


}

.partenaire-bouton a{
    text-decoration: none;
    font-size: larger;
    color: white !important;
    text-align: center;

}



/***************************************************************************/
/*********************************CARROUSEL*********************************/

.carousel{
    width: 50%;
}
.carousel-caption{
    text-shadow: 1px 1px black;
}

img{
    max-height: 450px;
}
#carrousel_portrait{
    width: 33%;
}
#carrousel_portrait img{
    max-height: 600px;
}
.btn-voir-articles {
    display: block;
    margin: 1em auto 2em auto; /* centré et espacé du carrousel */
    text-align: center;
    width: fit-content;
    background-color: #3CAA64;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: clamp(0.5em, 1vw, 1em);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    padding: clamp(0.6em, 1.5vw, 1em) clamp(1.5em, 4vw, 3em);
    border-radius: 50px;
}

.btn-voir-articles:hover {
    background-color: #2a7c49;
}


/***************************************************************************/
/***********************************FOOTER**********************************/

footer{
    margin-top: 5%;
    color: #fff;
    background: #3CAA64;
    font-size:medium ;


}

.footer-container{
    padding-top:2%;
    display: flex;
    flex-direction: column;

}

.footer-info{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.footer-plan{
    margin: 20px;
    padding: 0 10% 0 10%;
}

.footer-plan a{
    text-decoration: none;
    color: #ffffff;
}


.footer-asso{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding-right: 10%;
    padding-left: 10px;
    flex-direction: column;
}


footer img{
    max-width: 300px;
    max-height: 200px;
    position: relative;
}


footer ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;

}


footer li{
    display: list-item;

}

.footer-reseaux{
    display: flex;
    justify-content: center;
    background-image: url("../image/reseaux/pave-reseaux-sociaux.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    width: 400px;
    max-width: 400px;
    height: 300px;
    color: black;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}


.footer-reseaux li{
    display: inline-block;
}

.reseaux img{
    width: 50px;
    height: 50px;
}



.footer-mention{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;

}

.footer-mention a{
    color: white;

}

.mention-legale a{
    text-decoration: #FFDACC !important;
}

.footer-mention p{
    display: block;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 2em;
    margin-inline-end: 1em;
    unicode-bidi: isolate;
    font-size: 90%;
    line-height: 1em;


}

.mention-legale{
    justify-content: right;
    text-align: right;
}

/***************************************************************************/
/***********************************RESPONSIVE**********************************/

@media (max-width: 768px)  {




    h1{
       text-align: center;
        font-size: xxx-large;

    }


    body{
        max-width: 768px;
    }


    /***************************************************************************/
    /*******************************PRESENTATION********************************/
    .presentation{
        text-align: center;
        width: 100%;
        padding:5em 0;

        background-image: url("../image/accueil/trois-bulles.svg");
        background-repeat: no-repeat;
        background-size: max(50%, 50%);
        background-position: right 4% top 10%;



    }


    /***************************************************************************/
    /*******************************CHIFFRE-CLE*********************************/

    .bande {
        width: 100%;
        margin: 0;
    }


        .bande h1 {
            padding-top: 5%;

        }

        .bande h3{
            font-size: xx-large;
        }

        .bande-box {
            display: flex;
            width: 75%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            font-size: medium;
            padding: 1%;


        }

        .bande-contenu {
            text-align: center;

        }

        /***************************************************************************/
        /*******************************PARTENAIRE**********************************/

        .partenaire {
            justify-content: center;
            display: block;
            margin: 0;

        }


        .partenaire-contenu {
            display: flex;
            justify-content: center;
            width: 50%;
            margin: auto;

        }

        .partenaire-bouton {
            display: flex;
            background-color: #f51818;
            border-radius: 30px;
            width: 30%;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding: 1%;


        }

        .partenaire-bouton a {
            text-decoration: none;
            font-size: larger;
            color: white;
            text-align: center;

        }


        /***************************************************************************/
        /***********************************FOOTER**********************************/

        .footer {
            max-width: 768px;

        }

        .footer-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .footer-plan {
            padding: 2em;
        }



}


@media (min-width: 768px) and (max-width: 1200px) {

    h1{

        margin:auto;
    }

    /***************************************************************************/
    /*******************************PRESENTATION********************************/
    .presentation{
        text-align: center;
        width: 100%;
        padding:5em 0;

        background-image: url("../image/accueil/trois-bulles.svg") ;
        background-repeat: no-repeat;
        background-size: max(50%, 50%);
        background-position: right 4% top 10%;



    }
    /***************************************************************************/
    /*******************************CHIFFRE-CLE*********************************/

    .bande {
        padding-top: 1%;
        width: 100%;
        margin: 0;
    }

    .bande-box{
        text-align: center;
        display: flex;
        width: 75%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: medium;
        padding: 1%;
    }


    .bande-contenu{

        margin: 0 15px;
        padding: 20px 2%;
        align-content: center;

    }

    /***************************************************************************/
    /*******************************PARTENAIRE**********************************/
    .partenaire{
        padding-top: 1%;
        max-width: 1350px;
        display: block;
        margin: auto auto 20px;
    }

    .partenaire-contenu {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        column-gap: 110px;
        margin: auto;
    }




    .partenaire-bouton {
        display: flex;
        background-color: #f51818;

        border-radius: 30px;
        width: 40%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 1%;



    }



    /***************************************************************************/
    /*********************************CARROUSEL*********************************/


    .carousel{
    width: 50%;
}
img{
    max-height: 500px;
}
.main-carrousel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn-voir-articles {
    display: block;
    margin: 1em auto 2em auto; /* centré et espacé du carrousel */
    text-align: center;
    width: fit-content;
    background-color: #3CAA64;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: clamp(0.5em, 1vw, 1em);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    padding: clamp(0.6em, 1.5vw, 1em) clamp(1.5em, 4vw, 3em);
    border-radius: 50px;
}

.btn-voir-articles:hover {
    background-color: #2a7c49;
}



    /***************************************************************************/
    /***********************************FOOTER**********************************/

    .footer {
        max-width: 1200px;

    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .footer-plan {
        padding: 2em;
    }

}



/********************************************************************************/
/********************************Histoire.html **********************************/

.image-intro img{
    height: 50%;
    max-width: 100%;
    background-color: rgba(251, 186, 0, 0.2);
}
/***************************************************************************/
/********************************Histoire **********************************/
.histoire{
    max-width: 1350px;
    margin: auto;

}

.histoire-texte{
    padding: 1em !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.histoire img{
    width: 100px;
    height: auto;
    border-radius: 30px;
    margin:15px 10px 10px 10px;

}

.histoire-personnage{
    display: flex;
    flex-direction:row;
    padding: 1em;
    align-items: center;

}



/***************************************************************************/
/***************************Frise chronologique*****************************/

.frise-chrono{

    max-width: 1350px;
    margin:auto;

}

.frise-chrono-contenu{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius:6px;

}

.frise-chrono-contenu .frise-chrono{
    padding:20px 30px;
    position: relative;
    border-radius:6px;
    font-size: 15px;
}

.frise-chrono-text{
    padding: 30px 50px;
    background: #FFDACC;
    position: relative;
    border-radius:6px;

}

.frise-chrono-contenu-droite{
    left: 50%;
}

.frise-chrono-contenu-gauche{
    left:0;
}

.frise-chrono img{
    position: absolute;
    width:60px;

    border-radius: 50%;
    right: -30px;
    top: 32px;
    z-index: 10;
}

.frise-chrono-contenu-droite img{
    left:-30px;
}

.frise-chrono::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #000000;
    top: 50px;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
}

.frise-chrono-gauche-fleche{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FFDACC;
    right: -14px;
}

.frise-chrono-droite-fleche{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FFDACC;
    left: -14px;
}

.date-histoire{
    position: relative;
    max-width: 1350px;
    margin:auto;
}

.date-histoire h1{
    margin:1em;
}


