*{
    margin:0;

}
body{
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 500;

}


h1{
    margin-top: 20px;
    color: #3CAA64;
    text-decoration: none;

}

/***************************************************************************/
/*******************************CHIFFRE-CLE*********************************/

.chiffe-cle h1{
    margin: auto;
    max-width: 1350px;
}

.bande{
    background-color: #FFDACC;

}

.bande-box{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    font-size: medium;
    padding: 1%;
}


.bande-contenu{

    margin: 0 15px;
    padding: 20px 2%;
    align-content: flex-start;

}





/***************************************************************************/
/*******************************PARTENAIRE**********************************/

.partenaire{
    max-width: 1350px;
    display: block;
    margin: auto auto 20px;
}
.partenaire-contenu {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    column-gap: 110px;
    margin: auto;
    width: 1400px;
}

.partenaire-box{
    padding: 30px;
    margin: 20px;
}

.partenaire img{

    width: 140px;
    height: 140px;

}

.partenaire-bouton{
    display: flex;
    justify-content: center;

}

.partenaire-bouton{
    display: flex;
    background-color: #f51818;

    border-radius: 30px;
    width: 15%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;


}

.partenaire-bouton a{
    text-decoration: none;
    font-size: larger;
    color: white;

}



/***************************************************************************/
/***********************************FOOTER**********************************/

footer{
    margin-top: 5%;
    color: #fff;
    background: #3CAA64;
    display: flex;
    padding-top:2%;
    font-size:medium !important;
    justify-content: space-between;
    padding-right: 15%;
    align-items: flex-start;
}

.footer-plan{
    margin: 20px;
    padding: 0 10% 0 10%;

}


.footer-asso{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding-right: 10%;
    padding-left: 10px;
    flex-direction: column;
}


footer img{
    max-width: 300px;
    max-height: 200px;
    position: relative;
}


footer ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;

}


footer li{
    display: list-item;

}
/***background-image: url("../image/reseaux/pave-reseaux-sociaux.svg");**/
.footer-reseaux{
    display: flex;
    justify-content: center;
    background-image: url("../image/reseaux/pave-reseaux-sociaux.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    width: 400px;
    max-width: 400px;
    height: 300px;
    color: black;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}


.footer-reseaux li{
    display: inline-block;
}

.reseaux img{
    width: 50px;
    height: 50px;
}


